body {
    background-color: burlywood;
    color: rgb(97, 25, 25);
    font-family: 'Courier New', Courier, monospace;
}
h1 {
    font-size: 124px;
    text-align: center;
    font-weight: 700;
}
h2 {
    font-size: 44px;
    font-weight: 700;
}
.description {
    text-align: center;
}
h3 {
    font-size: 34px;
    font-weight: 700;
}
.homepagelist {
    list-style-type: none;
    text-align: center;
    font-size: 44px;
}
img {
    height: auto;
    width: 700px;
}
div {
    text-align: center;
}